@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.gradient{
    background: rgb(49,0,200);
    background: linear-gradient(90deg, rgba(49,0,200,1) 35%, rgba(117,3,166,1) 100%);
    
}
.cloud{
    padding-top: 30px;
    color: red;
}
.text{
    font-size: 1rem;
}
.location{
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

#btn1{
    height: 45px;
    width: 70px;
    background-color: transparent;
    color: rgb(214,20,20);
    outline: none;
    transition:all 0.4s;
    border: 2px solid rgba(49,0,200,1); 
}
#btn1:hover{
    background-color: rgba(117,3,166,1);
    transition:all 0.4s;
    color: #fff;
    border: none;
    outline: none;
}
#inp{
    outline: none;
    border: 2px solid rgba(49,0,200,1);
    padding: 5px; 
}
.footer{
    font-size: 1rem;
    color: #fff;
}
